{% extends "layout.html" %}
{% block body %}
<main>
    <div>
        <h1>Add New Vendor</h1>
    </div>
    <form action="/add_ven" method="post">
        <div class="row">
            <label>Date Of Registration</label>
            <input type="date" placeholder="Enter Vendor_Registration_Date" id="dor" name="dor" required>
            <label>Email</label>
            <input type="text" placeholder="Enter Vendor_Email" id="v_e" name="v_e" required>
            <label>Vendor Company Name</label>
            <input type="text" placeholder="Enter Vendor Company" id="vcn" name="vcn" required>
        </div>
        <div class="row">
            <label>Vendor GST NO</label>
            <input type="text" placeholder="Enter Vendor_GST_NO" id="gst" name="gst" required>

            <label>Vendor Status</label>
            <input type="text" placeholder="Enter Vendor_Status" id="ven_st" name="ven_st" required>

            <label>Mobile_No.</label>
            <input type="text" placeholder="Enter Vendor_Mobile_No" id="vmn" name="vmn" required>

        </div>
        <div class="row">

            <label>Mobile_No</label>
            <input type="text" placeholder="Enter Vendor_Alternative_Mobile_No" id="vamn" name="vamn" required>
            
            <label>Vendor Address</label>
            <input type="text" placeholder="Enter Vendor_Adderess" id="v_a" name="v_a" required>
            <label>Remarks</label>
            <input type="text" placeholder="Enter Vendor_Remarks" id="rmk" name="rmk" required>
        </div>
        <div class="row">
            <!-- <label>Date of Joining</label>
            <input type="date" id="text12" placeholder="Enter Date_Of_Joing"></input> -->
        
            <!-- <label>Vendor Address</label>
            <input type="text" placeholder="Enter Vendor_Adderess" id="v_a" name="v_a" required>
            <label>Remarks</label>
            <input type="text" placeholder="Enter Vendor_Remarks" id="rmk" name="rmk" required> -->
        </div>
        
        <div class="row">


        </div>
        <div class="row">
            <!-- <label>Vendor Address</label>
            <input id="text16" placeholder="Enter Vendor Address"></input>
            <label>Remarks</label>
            <input id="text17" placeholder="Enter Remarks"></input>
        </div> -->
        <button type="submit">Submit</button>
    </form>
</main>

{% endblock %}