{% extends "layout.html" %}
{% block body %}
<main>
    <div>
        <h1>Add New Vendor</h1>
    </div>

    {%with messages = get_flashed_messages()%}

{%if messages%}

{%for message in messages%}
<div class="alert alert-sucess alert-dismissable" role="alert" style="color:green; font-weight: bolder; text-align: center;">
    <span aria-hidden="true"></span>
  </botton>
  {{message}}
</div>

<!-- {{message}} -->

{%endfor%}
{%endif%}
{%endwith%}
    <form action="/venupdate/{{vendor_master.vendor_id}}" method="post">
        <div class="row">
            <label>Date Of Registration</label>
            <input type="date" placeholder="Enter Vendor_Registration_Date" id="dor" name="dor" value="{{dor_rep}}" required>
            <label>Email</label>
            <input type="text" placeholder="Enter Vendor_Email" id="v_e" name="v_e" value="{{vendor_master.vendor_email}}" required>
            <label>Vendor Company Name</label>
            <input type="text" placeholder="Enter Vendor Company" id="vcn" name="vcn" value="{{vendor_master.vendor_company_name}}" required>
        </div>
        <div class="row">
            <label>Vendor GST NO</label>
            <input type="text" placeholder="Enter Vendor_GST_NO" id="gst" name="gst" value="{{vendor_master.GST_NO}}" required>

            <label>Vendor Status</label>
            <input type="text" placeholder="Enter Vendor_Status" id="ven_st" name="ven_st" value="{{vendor_master.vendor_status}}" required>

            <label>Mobile_No.</label>
            <input type="text" placeholder="Enter Vendor_Mobile_No" id="vmn" name="vmn" value="{{vendor_master.vendor_mobile_num}}" required>

        </div>
        <div class="row">

            <label>Mobile_No</label>
            <input type="text" placeholder="Enter Vendor_Alternative_Mobile_No" id="vamn" name="vamn" value="{{vendor_master.vendor_alternative_mobile_num}}" required>
            
            <label>Vendor Address</label>
            <input type="text" placeholder="Enter Vendor_Adderess" id="v_a" name="v_a" value="{{vendor_master.vendor_addres}}" required>
            <label>Remarks</label>
            <input type="text" placeholder="Enter Vendor_Remarks" id="rmk" name="rmk" value="{{vendor_master.Remarks}}" required>
        </div>
        <div class="row">
        </div>
        
        <div class="row">


        </div>
        <div class="row">

        <button type="submit">Submit</button>
    </form>
</main>

{% endblock %}